.btn-default{
    box-shadow: 0 2px 0 rgb(5 145 255 / 10%);
    transition: transform 1s ease-in-out;
}
.btn-primary{
    min-width: 70px;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #1677ff;
    border-radius: 5px;
    transition: all 0.5s ease-in;
    color: #fff;
    background-color: #1677ff;
    text-align: center;
}

.btn-word{
    background-color: #fff;
    border: none;
    color: #1677ff;
}

.btn-primary:hover{
    cursor: pointer;
    opacity: .65;
}

.btn_active{
    transform: translateY(-10px);
}