
*{
  box-sizing: border-box;
  touch-action: none;
}

html ,body{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: flex;
  height: 100vh;
}

.App-aside{
  width: 160px;
  background-color: #282c34;
  color: #fff;
  min-height: 100vh;
  padding: 24px;
  font-weight: 600;
}
.App-main{
  padding: 24px;
  flex: 1;
  color: #282c34;
}

@media only screen and (max-width: 700px) {
  .App{
    flex-direction: column;
  }
  .App-aside{
    min-height: 20px;
    width: 100vw;
  }
  .App-main{
    /* margin: auto; */
  }
}

